*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (max-width: 62.5em) {
    html {
      font-size: 50%;
    }
  }
}

body {
  scroll-behavior: smooth;
  background-color: #f7f7f7;
  font-size: var(--font-size-sml-1);
  line-height: 0.8;
  font-family: var(--font-family);
}

.main-container {
  max-width: --max-width;
  margin: 0 auto;
}
